* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}
body{ background-color: #e9e9e9;}

.header {
    display: flex;
    height: 100px;
    filter: drop-shadow(0px 5px 3px #041761);
    
}

.header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 300px;
    background: #041761;
}

.header_search form {
    position: relative;
    width: 260px;
    height: 30px
}

.header_search form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 5px;
    outline: none
}

.header_search form input::placeholder {
    color: #fff
}

.header_search form:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: 10px;
    background: url("icons/search.svg");
    width: 24px;
    height: 24px;
    /* background-size:
    background-position: center; */
}

.header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100% - 360px);
    /* animation-name: emblem;
    animation-iteration-count: infinite;  */
}
#emblem:hover{ animation-name: emblem;
     animation-duration: 1s;
animation-iteration-count: infinite;
}

@keyframes emblem {
0%{transform: translateY(0px);}
50%{transform: translateY(-10px);}
/* 75%{transform: translateY(-4px);} */
100%{transform: translateY(0px);}
}


.promo {
    height: 780px;
    display: flex
}

.promo_menu {
    width: 300px;
    height: 100%;
    background: #100e1b;
    padding: 60px 0 0 10px
}

.promo_menu-item {
    display: block;
    font-size: 28px;
    line-height: 33px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    padding-left: 40px;
    margin-top: 18px
}

.promo_menu-item:hover {
    color: #8ca3ff
}

.promo_menu-item_active {
    border-left: 2px solid #041761;
    color: #8ca3ff;
}

.promo_content {
    width: calc(100% - 600px)
}

.promo_bg {
    height: 360px;
    background: url("img/mars.webp") center/cover no-repeat;
    background-position: top;
    padding: 107px 0 0 61px;
    filter: drop-shadow(0px 1px 3px #041761);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.promo_genre {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase
}

.promo_title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.promo_descr {
    width: 481px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase
}

.promo_ratings {
    margin-top: 13px
}

.promo_ratings span {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #050052;
    margin-right: 25px
}

.promo_interactive {
    display: flex
}

.promo_interactive>div {
    width: 50%;
    padding: 30px 0 0 60px
}

.promo_interactive-title {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #041761;
}

.promo_interactive-title:after {
    content: '';
    display: block;
    width: 33%;
    height: 2px;
    background-color: #000
}

.promo_interactive-list {
    list-style-type: none;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.promo_interactive-item {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #050052;
    margin-bottom: 15px;
    padding-right: 40px;
    text-transform: uppercase
}

.promo_interactive-item span {
    display: block;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("icons/Star.svg") center/cover no-repeat;
}

.promo_interactive-item:before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: calc(100% - 40px);
    height: 2px;
    background-color: #8ca3ff
}

.promo_interactive-item:hover .delete {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("icons/trash.png") center/cover no-repeat;
    cursor: pointer
}

.promo_interactive .add .promo_interactive-title {
    margin-bottom: 25px
}

.promo_interactive .add span {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000
}

.promo_interactive .add .yes {
    display: inline;
    margin-left: 10px
}

.promo_interactive .add input[type="text"] {
    width: 270px;
    height: 45px;
    line-height: 50px;
    font-size: 16px;
    background: rgba(196, 196, 196, 0.29);
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 0 15px;
    outline: none;
    border-radius: 4px
}

.promo_interactive .add button {
    display: block;
    margin-top: 15px;
    width: 170px;
    height: 45px;
    background: #041761;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer
}

.promo_interactive .add button:active {
    transform: scale(0.95)
}

.promo_adv {
    background: #1f1f1f;
    width: 300px;
    height: 100%
}

.promo_adv-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #8ca3ff;
    margin: 20px 0;
    text-align: center
}

.promo_adv img {
    width: 100%;
    margin-bottom: 10px
}

.adding_input:hover
{
    animation-name: adding_input;
    animation-duration: 0.8s;
    transform: scale(1.1);
}
@keyframes adding_input {
    0%{}
    25%{transform: scale(1);}
    /* 50%{transform: scale(1.2);}  */
    /* 75%{transform: scale(1.3);} */
    100%{transform: scale(1.1);}   
}

.adding_input_genre:hover
{
    animation-name: adding_input_genre;
    animation-duration: 0.8s;
    transform: scale(1.1);
}
@keyframes adding_input_genre {
    0%{}
    25%{transform: scale(1);}
    /* 50%{transform: scale(1.2);}  */
    /* 75%{transform: scale(1.3);} */
    100%{transform: scale(1.1);}   
}

.checkbox {
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #1E2235;
    --tick: #fff;
    position: relative;
    input,
    svg {
        width: 21px;
        height: 21px;
        display: block;
    }
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background: var(--background);
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 4px;
        transition: box-shadow .3s;
        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
        &:hover {
            --s: 2px;
            --b: var(--border-hover);
        }
        &:checked {
            --b: var(--border-active);
        }
    }
    svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--stroke, var(--border-active));
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
    }
    &.path {
        input {
            &:checked {
                --s: 2px;
                transition-delay: .4s;
                & + svg {
                    --a: 16.1 86.12;
                    --o: 102.22;
                }
            }
        }
        svg {
            stroke-dasharray: var(--a, 86.12);
            stroke-dashoffset: var(--o, 86.12);
            transition: stroke-dasharray .6s, stroke-dashoffset .6s;
        }
    }
} 

button:hover{
transform: scale(1.05);
transition: 0.3s;


}

/* .header_logo:hover {
animation-name: logo;
animation-iteration-count: infinite;
}
@keyframes logo {
    0%{margin-top: 10px;}
    100%{margin-bottom: 10px;}
} */